@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* input[type=checkbox] {
   position: relative;
  }

  input[type=checkbox]::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
   }

   input[type=checkbox]:checked::after{
    background-color: transparent;
   }

  input[type=checkbox]:checked {
    opacity: 100;
   } */


