@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  tfoot{
    background-color: red;
  }

  @media (max-width:600px){
    ::-webkit-scrollbar{
     display: none;
    }
  }

  @media(max-width:800px){
    .fc .fc-button{
      padding: .1rem .3rem;
      font-size: .9rem;
    }

    .fc .fc-toolbar-title{
      font-size: 1.7rem;
    }
  }

  @media(max-width:700px){
    .fc .fc-button{
      padding: .1rem .3rem;
    }

    .fc .fc-toolbar-title{
      font-size: 1.5rem;
    }
  }

  @media(max-width:500px){
    .fc .fc-button{
      /* font-size: .7rem; */
      padding: .1rem .2rem;
    }

    .fc .fc-toolbar-title{
      font-size: 1.3rem;
    }
  }

  @media(max-width:430px){
    .fc .fc-button{
      font-size: .7rem;
      padding: .1rem .2rem;
    }

    .fc .fc-toolbar-title{
      font-size: 1.2rem;
    }
  }

  @media(max-width:370px){
    .fc .fc-toolbar-title{
      font-size: .85rem;
    }
    .fc .fc-button{
      font-size: .7rem;
      padding: .1rem .15rem;
    }

    .fc table {
      font-size: .7rem;
    }
  
    .fc-scrollgrid-sync-table{
      height: 1rem !important;
    }
  
    .fc{
      height: 40vh !important;
    }
  }

  @media(max-width:330px){
    .fc .fc-toolbar-title{
      font-size: .7rem;
    }
    .fc .fc-button{
      font-size: .6rem;
      padding: .1rem .1rem;
    }
  }
