@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  tfoot{
    background-color: red;
  }

  @media (max-width:600px){
    ::-webkit-scrollbar{
     display: none;
    }
  }

  @media(max-width:850px){
    .fc{
      font-size: .8em;
    }
  
    .fc .fc-toolbar-title{
      font-size: 1.5em;
    }
  }

  @media(max-width:440px){
    .fc{
      font-size: .7em;
    }

    .fc .fc-button{
      padding: .3em .45em;
    }
  
    .fc .fc-toolbar-title{
      font-size: 1.4em;
    }
  }

  @media(max-width:330px){
    .fc{
      font-size: .6em;
    }
  }

@media(max-width:290Px){
  .fc{
    font-size: .6em;
  }

  .fc .fc-button{
    padding: .2em .25em;
  }

  .fc .fc-toolbar-title{
    font-size: 1.3em;
  }
}